
<div class="container-full">
  <h2 class="mb-5 text-center gsearch">Git Search User</h2>
  <app-search-user (searchEmmiter)="getSearchedUser($event)"></app-search-user>
  <div *ngFor="let u of user">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <div class="profiles">
            <a href="#">
              <img src="{{u.avatar_url}}" height="200px;" width="200px;" class="center">
            </a>
          </div>
          <div class="button">
            <a href="#" class="btn btn-sm btn-info mr-4">Follow</a>
          </div>
          <div class="details">
            <div class="heading">
              <h3>{{u.followers}}Followers {{u.following}} Following {{u.public_repos}}Repos</h3>
            </div>
            <div class="login">
            <h3 class="user">{{u.login}}</h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{u.location}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{u.bio}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{u.company}}
            </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-2"></div>
    </div>
  </div>
  </div>
  <div>
  <app-footer></app-footer>
</div>
  